<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                {% for item in page.sidebar.entries %}
                    <li><a {% assign is_primary_is_not_empty = item.is_primary | is_not_empty %}{% if is_primary_is_not_empty %}id="first_link" {% endif %}href="{% assign expr_1 = item.url | starts_with: '#' %}{% if expr_1 %}{{ item.url }}{% else %}{{ item.url | relative_url }}{% endif %}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>
